/* line 1, scss/_carousel.scss */
.swiper-container {
  width: 100%;
  height: 100%;
}

/* line 5, scss/_carousel.scss */
.swiper-container .swiper-slide {
  height: 650px;
  overflow: hidden;
  padding: 0 5px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
}

/* line 22, scss/_carousel.scss */
.swiper-container .swiper-pagination {
  bottom: 25px;
  width: 100%;
}

/* line 26, scss/_carousel.scss */
.swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 50%;
  background-color: #dbdbdb;
  opacity: 1;
}

/* line 35, scss/_carousel.scss */
.swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #3478f5;
}

@media (prefers-color-scheme: dark) {
  /* line 45, scss/_carousel.scss */
  .swiper-container .swiper-pagination .swiper-pagination-bullet {
    background-color: #dbdbdb;
  }
}

/* line 1, scss/_wake-times.scss */
#wake-times {
  width: 100%;
}

/* line 1, scss/_sleep-times.scss */
#sleep-times {
  width: 100%;
}

/* line 4, scss/_sleep-times.scss */
#sleep-times form #sleep-time-value {
  max-width: 100%;
  width: 100%;
  border: 0;
  height: 60px;
  margin: 13px auto 37px auto !important;
  text-align: center !important;
  -webkit-appearance: none;
  display: inline-block;
}

/* line 15, scss/_sleep-times.scss */
#sleep-times form #sleep-time-value:active, #sleep-times form #sleep-time-value:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  /* line 26, scss/_sleep-times.scss */
  #sleep-times form #sleep-time-value {
    background-color: #000;
    color: #fff;
  }
}

/* line 1, scss/_global.scss */
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

/* line 10, scss/_global.scss */
a,
a:link,
a:hover,
a:visited,
a:active {
  color: #000;
  text-decoration: none !important;
}

/* line 19, scss/_global.scss */
h4 {
  margin-top: 20px;
  color: #222;
}

/* line 23, scss/_global.scss */
h4 i {
  color: #3478f5;
}

/* line 28, scss/_global.scss */
.large-header, #sleep-times form #sleep-time-value {
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  margin: 20px 0 30px 0;
  padding: 0;
}

/* line 38, scss/_global.scss */
.section-header {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  background: #3478f5;
  color: #fff;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  margin: 0 0 15px 0;
  border-radius: 10px;
}

/* line 52, scss/_global.scss */
.top {
  margin: 15px 0 0 0;
  width: 100%;
}

/* line 56, scss/_global.scss */
.top .line {
  align-self: center;
  padding: 0 5px;
}

/* line 59, scss/_global.scss */
.top .line:before {
  content: " ";
  height: 0px;
  border-bottom: 1px solid #dbdbdb;
  display: block;
}

/* line 67, scss/_global.scss */
.top .text {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  vertical-align: middle;
  font-weight: 300;
}

/* line 78, scss/_global.scss */
.times {
  width: 100%;
}

/* line 81, scss/_global.scss */
.times .time-bit {
  font-size: 30px;
  text-align: center;
  vertical-align: center;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  min-height: 66px;
  font-weight: 200;
}

/* line 90, scss/_global.scss */
.times .time-bit:last-child {
  border-bottom: 0;
}

/* line 95, scss/_global.scss */
.times .time-bit-empty {
  border-bottom: 1px solid #fff;
}

/* line 100, scss/_global.scss */
#how-does-this-work {
  text-align: center;
  padding: 0 0 15px 0;
  font-weight: 300;
}

/* line 104, scss/_global.scss */
#how-does-this-work button {
  color: #777;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
}

/* line 110, scss/_global.scss */
#how-does-this-work button:focus, #how-does-this-work button:active, #how-does-this-work button:hover {
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

/* line 118, scss/_global.scss */
#how-does-this-work button i {
  color: #3478f5;
}

/* line 124, scss/_global.scss */
.modal {
  padding-right: 0 !important;
}

/* line 127, scss/_global.scss */
.modal .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
}

/* line 133, scss/_global.scss */
.modal .modal-dialog .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: #fff;
  padding: 15px;
  border: 0;
}

/* line 141, scss/_global.scss */
.modal .modal-dialog .modal-content .modal-header {
  background-color: #3478f5;
  color: #fff;
  border-radius: 10px;
  border-bottom: 0;
  padding: 15px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

/* line 151, scss/_global.scss */
.modal .modal-dialog .modal-content .modal-header .close {
  color: #fff;
  padding-top: 20px;
  opacity: 1;
  font-size: 15px;
}

/* line 162, scss/_global.scss */
#um {
  border-top: 1px solid #dbdbdb;
  margin-top: 50px;
  padding-top: 15px;
  font-size: 12px;
  text-align: center;
}

/* line 168, scss/_global.scss */
#um i {
  color: #db565b;
}

/* line 173, scss/_global.scss */
#version {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  color: #999;
}

@media (max-height: 567px) {
  /* line 181, scss/_global.scss */
  .large-header, #sleep-times form #sleep-time-value {
    font-size: 50px;
    line-height: 50px;
    margin: 15px 25px;
  }
  /* line 188, scss/_global.scss */
  .swiper-container .swiper-slide {
    height: 530px;
  }
  /* line 193, scss/_global.scss */
  .section-header {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 14px;
  }
  /* line 200, scss/_global.scss */
  .times .time-bit {
    font-size: 26px;
    min-height: 60px;
  }
  /* line 206, scss/_global.scss */
  .swiper-container .swiper-pagination {
    bottom: 0;
  }
  /* line 210, scss/_global.scss */
  .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  /* line 215, scss/_global.scss */
  #how-does-this-work {
    padding-bottom: 0;
  }
  /* line 217, scss/_global.scss */
  #how-does-this-work button {
    font-size: 14px;
  }
}

@media (min-width: 345px) {
  /* line 225, scss/_global.scss */
  .top .text {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  /* line 232, scss/_global.scss */
  body {
    background-color: #000;
    color: #fff;
  }
  /* line 237, scss/_global.scss */
  a,
  a:hover,
  a:visited,
  a:active {
    color: #fff;
  }
  /* line 244, scss/_global.scss */
  h4 {
    color: #fff;
  }
  /* line 250, scss/_global.scss */
  .top .line:before {
    border-bottom: 1px solid #222;
  }
  /* line 255, scss/_global.scss */
  .top .text {
    font-weight: 200;
  }
  /* line 260, scss/_global.scss */
  .large-header, #sleep-times form #sleep-time-value {
    font-weight: 200;
  }
  /* line 264, scss/_global.scss */
  .section-header {
    font-weight: 100;
  }
  /* line 268, scss/_global.scss */
  .times {
    width: 100%;
  }
  /* line 271, scss/_global.scss */
  .times .time-bit {
    border-bottom: 1px solid #222;
  }
  /* line 275, scss/_global.scss */
  .times .time-bit-empty {
    border-bottom: 1px solid #000;
  }
  /* line 281, scss/_global.scss */
  #how-does-this-work button {
    font-weight: 100;
  }
  /* line 288, scss/_global.scss */
  .modal .modal-dialog .modal-content {
    background-color: #000;
  }
  /* line 291, scss/_global.scss */
  .modal .modal-dialog .modal-content .modal-header {
    color: #fff;
  }
  /* line 294, scss/_global.scss */
  .modal .modal-dialog .modal-content .modal-header .close {
    color: #fff;
  }
  /* line 300, scss/_global.scss */
  .modal .modal-dialog .modal-content .modal-body a {
    color: #fff;
  }
  /* line 308, scss/_global.scss */
  #um {
    border-top: 1px solid #222;
  }
}

/*# sourceMappingURL=sleepy.css.map */