.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .swiper-slide {
    height: 650px;
    overflow: hidden;
    padding: 0 5px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
  }

  .swiper-pagination {
    bottom: 25px;
    width: 100%;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin-left: 3px;
      margin-right: 3px;
      border-radius: 50%;
      background-color: $light-grey;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background-color: $blue;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .swiper-container {
    .swiper-pagination {
      .swiper-pagination-bullet {
        background-color: $light-grey;
      }
    }
  }
}
