body {
  font-family: "Roboto", sans-serif;
  background-color: $white;
  color: $black;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: $black;
  text-decoration: none !important;
}

h4 {
  margin-top: 20px;
  color: $grey;

  i {
    color: $blue;
  }
}

.large-header {
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  margin: 20px 0 30px 0;
  padding: 0;
}

.section-header {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  background: $blue;
  color: $white;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  margin: 0 0 15px 0;
  border-radius: 10px;
}

.top {
  margin: 15px 0 0 0;
  width: 100%;

  .line {
    align-self: center;
    padding: 0 5px;
    &:before {
      content: " ";
      height: 0px;
      border-bottom: 1px solid $light-grey;
      display: block;
    }
  }

  .text {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
    font-weight: 300;
  }
}

.times {
  width: 100%;

  .time-bit {
    font-size: 30px;
    text-align: center;
    vertical-align: center;
    padding: 10px;
    border-bottom: 1px solid $light-grey;
    min-height: 66px;
    font-weight: 200;

    &:last-child() {
      border-bottom: 0;
    }
  }

  .time-bit-empty {
    border-bottom: 1px solid $white;
  }
}

#how-does-this-work {
  text-align: center;
  padding: 0 0 15px 0;
  font-weight: 300;
  button {
    color: #777;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    -webkit-appearance: none;

    &:focus,
    &:active,
    &:hover {
      text-decoration: none;
      outline: none;
    }

    i {
      color: $blue;
    }
  }
}

.modal {
  padding-right: 0 !important;

  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;

    .modal-content {
      height: auto;
      min-height: 100%;
      border-radius: 0;
      background-color: $white;
      padding: 15px;
      border: 0;

      .modal-header {
        background-color: $blue;
        color: $white;
        border-radius: 10px;
        border-bottom: 0;
        padding: 15px;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;

        .close {
          color: $white;
          padding-top: 20px;
          opacity: 1;
          font-size: 15px;
        }
      }
    }
  }
}

#um {
  border-top: 1px solid $light-grey;
  margin-top: 50px;
  padding-top: 15px;
  font-size: 12px;
  text-align: center;
  i {
    color: $red;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $black;
    color: $white;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: $white;
  }

  h4 {
    color: $white;
  }

  .top {
    .line {
      &:before {
        border-bottom: 1px solid $grey;
      }
    }

    .text {
      font-weight: 200;
    }
  }

  .large-header {
    font-weight: 200;
  }

  .section-header {
    font-weight: 100;
  }

  .times {
    width: 100%;

    .time-bit {
      border-bottom: 1px solid $grey;
    }

    .time-bit-empty {
      border-bottom: 1px solid $black;
    }
  }

  #how-does-this-work {
    button {
      font-weight: 100;
    }
  }

  .modal {
    .modal-dialog {
      .modal-content {
        background-color: $black;

        .modal-header {
          color: $white;

          .close {
            color: $white;
          }
        }

        .modal-body {
          a {
            color: $white;
          }
        }
      }
    }
  }

  #um {
    border-top: 1px solid $grey;
  }
}
