$black: #000;
$grey: #222;
$light-grey: #aaa;
$white: #fff;
$blue: #185acb;

body {
  font-family: "Roboto", sans-serif;
  background-color: $white;
  color: $black;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: $black;
  text-decoration: none !important;
}

#container {
  width: 100%;
  height: 568px;
  margin: 0 auto;
  max-width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

#top {
  margin: 30px 0 0 0;
  width: 100%;

  .line {
    background: url("../img/line-grey@2x.png?12") left center repeat-x;
  }

  .text {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
    font-weight: 400;
  }
}

#currenttime {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 20px 0 30px 0;
  padding: 0;
}

#timescontainerheader {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  background: $blue;
  color: $white;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  margin: 0 0 15px 0;
  border-radius: 10px;
}

#timescontainer {
  #times {
    width: 100%;

    .time-bit {
      font-size: 30px;
      text-align: center;
      vertical-align: center;
      padding: 10px;
      border-bottom: 1px solid $grey;

      &:nth-child(6) {
        border-bottom: 0;
      }
    }
  }
}

#how-does-this-work {
  text-align: center;
  padding: 0 0 15px 0;
  button {
    color: #777;
    font-weight: 400;
    font-family: "Roboto", sans-serif;

    &:active,
    &:hover {
      text-decoration: none;
    }
  }
}

.modal {
  padding-right: 0 !important;

  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;

    .modal-content {
      height: auto;
      min-height: 100%;
      border-radius: 0;
      background-color: $white;
      padding: 15px;

      .modal-header {
        background-color: $blue;
        color: $white;
        border-radius: 10px;
        border-bottom: 0;
        padding: 15px;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;

        .close {
          color: $white;
          padding-top: 20px;
          opacity: 1;
          font-size: 15px;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $black;
    color: $white;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: $white;
  }

  #top {
    .line {
      .text {
        font-weight: 100;
      }
    }
  }

  #timescontainerheader {
    font-weight: 100;
  }

  #currenttime {
    font-weight: 100;
  }

  #timescontainer {
    #times {
      width: 100%;

      .time-bit {
        border-bottom: 1px solid $grey;
      }
    }
  }

  #how-does-this-work {
    button {
      font-weight: 100;
    }
  }

  .modal {
    .modal-dialog {
      .modal-content {
        background-color: $black;

        .modal-header {
          color: $white;

          .close {
            color: $white;
          }
        }
      }
    }
  }
}
