@font-face {
  font-family: "Roboto";
  src: url("../fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: "Josefin Sans Thin";
  src: url("../fonts/JosefinSans-Thin.ttf");
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited,
a:active {
  color: #fff;
  text-decoration: none;
}

#container {
  width: 100%;
  height: 568px;
  margin: 0 auto;
  max-width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

#top {
  margin: 15px 0 0 0;
  width: 100%;

  .line {
    width: 25%;
    background: url("../img/line@2x.png") left center repeat-x;
  }

  .text {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    width: 50%;
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
    font-weight: 100;
  }
}

#currenttime {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  margin: 20px 0 30px 0;
  padding: 0;
}

#timescontainer {
  h2 {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-weight: 100;
    background: #185acb;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    margin: 0 0 15px 0;
  }
}

#times {
  width: 100%;

  .time-bit {
    font-size: 30px;
    text-align: center;
    vertical-align: center;
    padding: 10px;
    border-bottom: 1px solid #222;

    //     &:nth-child(1) {
    //       background: #122b41;
    //     }
    //
    //     &:nth-child(2) {
    //       background: #1e3951;
    //     }
    //
    //     &:nth-child(3) {
    //       background: #2a4760;
    //     }
    //
    //     &:nth-child(4) {
    //       background: #365670;
    //     }
    //
    //     &:nth-child(5) {
    //       background: #42647f;
    //     }
    //
    &:nth-child(6) {
      border-bottom: 0;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #top .line {
    background: url("../img/line@2x.png") left center repeat-x;
  }
}
